<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改客户管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-customer-edit" th:object="${sysCustomer}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-2 control-label">区域：</label>
                <div class="col-sm-4">
                    <input name="region" th:field="*{region}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">公司编号：</label>
                <div class="col-sm-4">
                    <input name="companyCode" th:field="*{companyCode}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-2 control-label">公司名称：</label>
                <div class="col-sm-4">
                    <input name="companyName" th:field="*{companyName}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">楼宇：</label>
                <div class="col-sm-4">
                    <input name="floor" th:field="*{floor}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-2 control-label">单元：</label>
                <div class="col-sm-4">
                    <input name="unitNumber" th:field="*{unitNumber}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">l楼层：</label>
                <div class="col-sm-4">
                    <input name="floorNumber" th:field="*{floorNumber}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-2 control-label">房号：</label>
                <div class="col-sm-4">
                    <input name="roomNumber" th:field="*{roomNumber}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">状态：</label>
                <div class="col-sm-4">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_customer')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}">
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-2 control-label">送午餐时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="giveLunchTime" th:value="${#dates.format(sysCustomer.giveLunchTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
                <label class="col-sm-2 control-label">送晚餐时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="giveDinnerTime" th:value="${#dates.format(sysCustomer.giveDinnerTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-2 control-label">配送午餐时长：</label>
                <div class="col-sm-4">
                    <input name="deliveLunchLong" th:field="*{deliveLunchLong}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">配送晚餐时长：</label>
                <div class="col-sm-4">
                    <input name="deliveDinnerLong" th:field="*{deliveDinnerLong}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">订餐截止时间（午餐）：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="orderDeadlineLunch" th:value="${#dates.format(sysCustomer.orderDeadlineLunch, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
                <label class="col-sm-2 control-label">订餐截止时间（晚餐）：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="orderDeadlineDinner" th:value="${#dates.format(sysCustomer.orderDeadlineDinner, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">所属线路：</label>
                <div class="col-sm-4">
                    <select name="flowLine" class="form-control m-b" th:with="type=${@dict.getType('flow_line')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/customer";
        $("#form-customer-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-customer-edit').serialize());
            }
        }

        $("input[name='giveLunchTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='giveDinnerTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='orderDeadlineLunch']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='orderDeadlineDinner']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>