<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改主食分拣管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-manage-edit" th:object="${foodManage}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">主食分拣人名称：</label>
                <div class="col-sm-8" name="distributorName">
                    <select class="form-control m-b required"  name="sortingId">
                        <option  th:each="cato:${dhy}" th:text="${cato.userName}" th:value="${cato.userId}" th:field="${foodManage.sortingId}"></option>
                    </select>
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/manage";
        $("#form-manage-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-manage-edit').serialize());
            }
        }
    </script>
</body>
</html>