<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增套餐发布')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-release-add">
        <div class="col-sm-12" style="">
            <div class="ibox-content" id="disha">
                <label style="font-size:25px;">素菜勾选</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 check-box" th:each="dishs:${dish}">
                <div class="ibox">
                    <div class="ibox-title">
                        <h3 th:text="${dishs.itemName}"></h3>
                    </div>
                    <div class="ibox-content">
                        <input name="elementId" type="checkbox" th:value="${dishs.id}" >
                        <span th:text="${dishs.itemPrice}"></span>
                        <span>元.</span>

                        </label>
                    </div>
                </div>

            </div>
        </div>
        <!--            <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-xs-10">
                                    <label th:each="meats:${meat}" class="check-box">
                                        <input name="meatId" type="checkbox" th:value="${meats.id}" th:text="${meats.itemName}">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>-->
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script type="text/javascript">
        var prefix = ctx + "meal/release"
        var prefixs = ctx + "demo/modal";
        $("#form-release-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-release-add').serialize());
            }
        }
		function selectUsersToParent(){
			$.modal.open("可选荤菜勾选", prefixs + "/parent");
        }
        $("input[name='releaseTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>