<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改套餐发布')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-release-edit" th:object="${mealRelease}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">编号：</label>
                <div class="col-sm-8">
                    <input name="code" th:field="*{code}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">餐品大类编号：</label>
                <div class="col-sm-8">
                    <input name="mealClassCode" th:field="*{mealClassCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">餐品大类名称：</label>
                <div class="col-sm-8">
                    <input name="mealClassName" th:field="*{mealClassName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商户名称：</label>
                <div class="col-sm-8">
                    <input name="merchantName" th:field="*{merchantName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">荤菜数量：</label>
                <div class="col-sm-8">
                    <input name="meatNumber" th:field="*{meatNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">荤菜id(多个以逗号分割)：</label>
                <div class="col-sm-8">
                    <input name="meatId" th:field="*{meatId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">素菜数量：</label>
                <div class="col-sm-8">
                    <input name="elementNumber" th:field="*{elementNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">素材id(多个以逗号分割）：</label>
                <div class="col-sm-8">
                    <input name="elementId" th:field="*{elementId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">主食数量：</label>
                <div class="col-sm-8">
                    <input name="stapleNumber" th:field="*{stapleNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">主食id：</label>
                <div class="col-sm-8">
                    <input name="stapleFoodId" th:field="*{stapleFoodId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">饮品数量：</label>
                <div class="col-sm-8">
                    <input name="drinkNumber" th:field="*{drinkNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">饮品id：</label>
                <div class="col-sm-8">
                    <input name="drinkId" th:field="*{drinkId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发布时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="releaseTime" th:value="${#dates.format(mealRelease.releaseTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">到期自动隐藏：</label>
                <div class="col-sm-8">
                    <input name="isDisplay" th:field="*{isDisplay}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">删除标志位：</label>
                <div class="col-sm-8">
                    <input name="dr" th:field="*{dr}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格：</label>
                <div class="col-sm-8">
                    <input name="price" th:field="*{price}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="bak" th:field="*{bak}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用字段：</label>
                <div class="col-sm-8">
                    <input name="def" th:field="*{def}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "meal/release";
        $("#form-release-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-release-edit').serialize());
            }
        }

        $("input[name='releaseTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>